@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 24, 22, 26;
    --background-end-rgb: 24, 22, 26;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background-color: #323333;
}

.shake-error {
  animation: shake 0.2s ease-in-out 0s 2;
  border: 0.3em solid red;
  box-shadow: 0 0 2em red;
}

@keyframes shake {
  0% {
    margin-left: 0rem;
  }

  25% {
    margin-left: 0.5rem;
  }

  75% {
    margin-left: -0.5rem;
  }

  100% {
    margin-left: 0rem;
  }
}